# SPDX-License-Identifier: Apache-2.0
# System_ext private policy, selected only with the independently privileged AML app.
# No modem interface and no direct link to the IMS broker/daemon.
type diamaneos_emergency_location_app, domain;
typeattribute diamaneos_emergency_location_app coredomain;
app_domain(diamaneos_emergency_location_app)
net_domain(diamaneos_emergency_location_app)
binder_use(diamaneos_emergency_location_app)
allow diamaneos_emergency_location_app { app_api_service radio_service }:service_manager find;
allow diamaneos_emergency_location_app app_data_file:dir create_dir_perms;
allow diamaneos_emergency_location_app app_data_file:{ file lnk_file } create_file_perms;
neverallow diamaneos_emergency_location_app self:{ qipcrtr_socket tipc_socket rawip_socket packet_socket } *;
neverallow diamaneos_emergency_location_app self:global_capability_class_set *;
